#stockData {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    
    .display {
        padding: 0 1rem 0 0;
        border: 0.1rem solid #3b3b3b;
        border-radius: 0.5rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: hidden;

        span {
            background-color: #3b3b3b;
            height: 100%;
            padding: 0.25rem 1rem;
            display: flex;
            align-items: center;
        }
    }

    #addStock {
        border: 0.1rem solid #3b3b3b;
        border-radius: 0.5rem;
        display: flex;
        overflow: hidden;

        input {
            background-color: transparent;
            padding: 1rem 1rem;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 1rem;
        }

        button {
            padding: 0 1rem;
            background-color: #3b3b3b;
            color: #ffffff;
            font-size: 1rem;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #2e2e2e;
            }
        }
    }
}