.loading {
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AdminPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    #adminHeader {
        grid-area: ah;
        background-color: #000000;
        width: 100%;
        padding: 0.5rem 3rem;
        border-bottom: #202020 1px solid;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        
        a {
            padding: 0.25rem 1rem;
            border-radius: 0.5rem;
            color: #ffffff;
            text-decoration: none;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:hover {
                transition: 0.3s;
                background-color: #272727;
            }

            &::before {
                content: '';
                width: 0;
                height: 0.2rem;
                background-color: #ffffff;
                position: absolute;
                top: calc(100% + 0.45rem);
            }

            &.active::before {
                width: 50%;
            }
        }
    }

    #adminBody {
        grid-area: am;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 1rem;
    }
}